body {
    background: #FEFAF6;
    color: #383838;
}

a {
    color: #383838
}

.selected-a:hover {
    color: #000;
    background-color: #FAEDCD;


}



/*Nav Bar*/
#nav-bar {
    font-family: "DM Serif Display";
}

.nav-div {
    margin: 3% 5% 5% 5%;
    padding: 0px 3%;

    background-color: #FEFAF6;
    border-radius: 25px;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #383838;
    background-color: none;
    text-decoration: none;
}

.logo {
    width: 35%;
    

}

/*Landing*/
#landing {
    padding-top: 4vh;
    height: auto;
    color: #383838;
    position: relative;
    display: flex;

}

.landing-container {
    padding: 0px 1.5%;
    position: relative;
    width: 90%;
    height: 100%;

    display: flex;
    border: #000;
    margin: 0 auto;

}

.landing-face-img {
    max-width: 99%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 52px 74px rgba(0, 21, 64, .138559);

}

.landing-face-img-div {
    display: flex;
    justify-content: center;
}

.landing-chevron {
    margin-top: 41.9vh;

    align-items: center;
    font-size: 2rem;
    color: #383838;
}

.landing-header {
    font-family: 'DM Serif Display';
    font-size: 4rem;

}

.landing-text {

    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-weight: 200;
    margin-right: 10%;
    text-align: justify;

}

.landing-contact-me {
    margin-top: 10vh;
    margin-right: 10%;
    margin-left: 0;
    margin-bottom: 0;
    padding: 3% 2% 3% 2%;
    border-radius: 25px;
    background-color: #FEFAF6;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.1);
    text-align: center;


}

.landing-socials {
    max-width: 100%;
    height: auto;
}

.LS-left {
    padding-right: 5px;
}

.LS-right {
    padding-left: 5px;

}

@media (max-width: 992px) {
    .landing-chevron {
        display: none;
    }

    .landing-contact-me {
        margin-top: 10vh;
    }

    .landing-text {
        margin-right: 0;
        text-align: center;
        margin-top: 6.6%;
    }

    .landing-contact-me {
        margin-right: 0;
    }

    .landing-face-img-div {

        margin: auto;
        margin-top: 10%;
    }

    #landing {

        text-align: center;
    }


}

#landing-contact-me-small-text {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    margin: 0;
    font-weight: 200;


}
/*Alert*/
.alert_container {
	margin: 0 auto;
	max-width: 1000px;
}

.alert {
	--foreground-color: #222222;
	--background-color: #eeeeee;

	display: flex;
	align-items: center;
	padding: 1em;
	box-sizing: border-box;
	border-radius: 5px;
	width: 100%;
	background-color: var(--background-color);
}

.alert-icon {
	display: flex;
	align-items: center;
}

.alert-text {
	margin-left: 1em;
	font-size: 1.15em;
	font-weight: 500;
	font-family: 'Lexend', sans-serif;
}

.alert-icon .material-symbols-outlined,
.alert-text {
	color: var(--foreground-color);
}

.alert-warning {
	--foreground-color: #000000;
	--background-color: #ecd103;
}

.alert-success {
	--foreground-color: #ffffff;
	--background-color: #46b63e;
}

.alert-error {
	--foreground-color: #ffffff;
	--background-color: #cb0000;
}

/*Timeline*/
#timeline {
    padding-top: 7%;
    overflow-x: hidden;
}

.timeline-container {
    position: relative;
    width: 90%;
    height: auto;
    margin: 7% auto 0 auto;
}

.timeline-header {

    position: relative;
    width: 90%;
    height: 100%;
    padding-left: 7.45%;
}

.timeline-header-text {
    font-family: 'DM Serif Display';
    font-size: 3rem;
    font-weight: 100;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}

/*Swiper*/

.timeline-about-that-text {
    font-family: "Montserrat";
    font-size: 2em;
}

.title {
    font-family: "Montserrat";
    font-size: 2em;

}

.swiper-container-wrapper--timeline .swiper-slide {
    display: flex;
    background: #eeebe6;


    min-height: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 50px;

}

@media (max-width: 576px) {
    .swiper-container-wrapper--timeline .swiper-slide {
        width: 400px;
        height: fit-content;
        padding: 30px;
    }
}

@media (max-width: 475px) {
    .swiper-container-wrapper--timeline .swiper-slide {
        min-height: 700px;
        width: 300px;
    }
}

.swiper-container-wrapper--timeline .swiper-slide .container {
    display: flex;

    width: auto;
    height: auto;
}

.container {
    overflow: visible;

}

.swiper-container-wrapper--timeline .swiper-slide .title {
    font-size: 18px;
    opacity: 0;
    transition: 0.5s ease 0.5s;
}

.swiper-container-wrapper--timeline .swiper-slide-active .title {
    opacity: 1;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
    position: relative;
    margin-bottom: 70px;
    background-color: transparent;
    height: 4px;
    border-bottom: 1px solid #888;
    width: 75%;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
    background-color: #000;
    height: 3px;
    top: 2px;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar:before {
    position: absolute;
    top: 2px;
    left: -100%;
    width: 100%;
    height: 3px;
    background-color: #000;
    content: "";
}

.starwars_skew{
    transform: rotateX(25deg) translateZ(100px);
    transform-origin: 50% 100%
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
    position: absolute;
    top: 3px;
    right: -44%;
    width: 44%;
    height: 1px;

    content: "";
    border-top: 1px solid #999;
}

.arrow-progressbar {
    position: absolute;
    z-index: 3;
    color: #888;
    left: 92%;

}

.swiper-container-wrapper--timeline .swiper-pagination-custom {
    position: relative;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: flex;
    line-height: 1.66;
    bottom: 0;
    z-index: 11;
    width: 75%;
    display: flex;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
    position: absolute;
    font-weight: 400;
    right: 0;
    transform: translateX(50%);
    transition: 0.2s all ease-in-out;
    transition-delay: 0s;
    cursor: pointer;
    z-index: 1;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
    position: absolute;
    top: calc(100% + 19px);
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 2rem;
    content: "";
    transition: 0.2s all ease-in-out;
    transition-delay: 0s;
    z-index: 1;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
    font-weight: 400;
    transition-delay: 0.4s;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
    background: #000;
    width: 25px;
    height: 25px;
    transition-delay: 0.4s;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active~.swiper-pagination-switch .switch-title {
    color: #888;
    font-weight: 16px;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active~.swiper-pagination-switch .switch-title:after {
    background: #888;
}

/* Showcase */
#showcase {
    margin-top: 12%;
}

.showcase-container {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.showcase-slide {
    display: flex;
    overflow: hidden;
    background: #CCD5AE;
    position: relative;
    height: 400px;
    width: 900px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 50px;
    margin-bottom: 4%;
    box-shadow: 0px 0px 10000px rgba(0, 0, 0, 0.4);
}

.even {
    background-color: #D4A373;
}

.even .showcase-slide-text {
    color: #FFF;
}

.showcase-container div {


    transition: 0.6s cubic-bezier(0.15, 0.5, 0.35, 1);
}

.highlight-showcase {
    width: 1000px;
    height: 500px;

    transition: 0.5s ease-in-out;
}

.showcase-slide.highlight-showcase img {
    position: absolute;
    right: 50px;
    top: 50px;
    transform: scale(1.3);
    transition: 0.5 ease-in;
}

.showcase-slide.highlight-showcase p {
    display: inherit;
    -webkit-line-clamp: none;
    -webkit-box-orient: vertical;
    overflow: visible;
}

.showcase-slide-container h1 {
    position: absolute;
    left: 50px;
    top: 150px;
    font-weight: 600;
    font-family: "DM Serif Display";
    font-size: 4rem;
    font-weight: 400;
    line-height: 99px;
    letter-spacing: 0em;
    text-align: left;

    transform: translateY(-50%);
}

.showcase-slide-container h4 {
    position: absolute;

    left: 50px;
    top: 60px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

}

.showcase-slide-container.odd h4 {
    color: #383838;
}

.showcase-slide-container.even h4 {
    color: #FEFAF6;
}

.showcase-slide-container p {
    position: absolute;
    left: 50px;
    top: 220px;
    width: 400px;
    height: 110px;



    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.showcase-slide-container img {
    position: absolute;
    right: 0;
    top: 0px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    height: 400px;
    width: 400px;
}

@media (max-width:992px) {
    .showcase-slide {
        width: 500px;
        height: 450px;
    }

    .highlight-showcase {
        width: 600px;
        height: 500px;

        transition: 0.5s ease-in-out;
    }

    .showcase-slide-img {

        opacity: 0.1;
    }

    .showcase-slide-container img {
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
    }
}

@media (max-width:650px) {
    .showcase-slide {
        width: 470px;
        height: 350px;
    }

    .highlight-showcase {
        width: 540px;
        height: 500px;

        transition: 0.5s ease-in-out;
    }

    .showcase-slide-img {

        opacity: 0.1;
    }

    .showcase-slide-container img {
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .showcase-slide-container h1 {
        position: absolute;
        left: 30px;
        top: 130px;

    }

    .showcase-slide-container h4 {
        position: absolute;
        left: 30px;
        top: 50px;
    }

    .showcase-slide-container p {
        position: absolute;
        left: 30px;
        top: 190px;
        width: 400px;
        height: 110px;
    }
}

@media (max-width:550px) {
    .showcase-slide {
        width: 420px;
        height: 350px;
    }

    .highlight-showcase {
        width: 420px;
        height: 500px;

        transition: 0.5s ease-in-out;
    }

    .showcase-slide-img {

        opacity: 0.1;
    }

    .showcase-slide-container img {
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .showcase-slide-container h1 {
        position: absolute;
        left: 30px;
        top: 130px;
        font-size: 3rem;
    }

    .showcase-slide-container h4 {
        position: absolute;
        left: 30px;
        top: 50px;
    }

    .showcase-slide-container p {
        position: absolute;
        left: 30px;
        top: 190px;
        width: 350px;
        height: 110px;
    }
}

@media (max-width:350px) {
    .showcase-slide {
        width: 300px;
        height: 350px;
    }

    .highlight-showcase {
        width: 300px;
        height: 550px;

        transition: 0.5s ease-in-out;
    }

    .showcase-slide-img {

        opacity: 0.1;
    }

    .showcase-slide-container img {
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .showcase-slide-container h1 {
        position: absolute;
        left: 30px;
        top: 130px;
        font-size: 3rem;
    }

    .showcase-slide-container h4 {
        position: absolute;
        left: 30px;
        top: 50px;
    }

    .showcase-slide-container p {
        position: absolute;
        left: 30px;
        top: 190px;
        width: 320px;
        height: 110px;
    }
}

@media (max-width:400px) {
    .showcase-slide {
        width: 350px;
        height: 350px;
    }

    .highlight-showcase {
        width: 350px;
        height: 550px;

        transition: 0.5s ease-in-out;
    }

    .showcase-slide-img {

        opacity: 0.1;
    }

    .showcase-slide-container img {
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .showcase-slide-container h1 {
        position: absolute;
        left: 30px;
        top: 130px;
        font-size: 3rem;
    }

    .showcase-slide-container h4 {
        position: absolute;
        left: 30px;
        top: 50px;
    }

    .showcase-slide-container p {
        position: absolute;
        left: 30px;
        top: 190px;
        width: 300px;
        height: 110px;
    }
}

/* Testimonials */

.shadow-effect {
    background: #FEFAF6;
    padding: 20px;
    border-radius: 30px;
    text-align: center;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #CCD5AE;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

.testimonial-name em {
    font-size: 14px;
    display: table;
    margin-top: 5px;
}

#customers-testimonials .item {

    text-align: center;
    padding: 50px;
    margin-bottom: 80px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
    border-radius: 100%;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #E9EDC9;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #E9EDC9;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}

/* skills */
body .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

body .skills-container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

body .skills-container .card:nth-child(1) .box .content a {
    background: #2196f3;
}

body .skills-container .card:nth-child(2) .box .content a {
    background: #e91e63;
}

body .skills-container .card:nth-child(3) .box .content a {
    background: #23c186;
}

body .skills-container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;

    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

body .skills-container .card:nth-child(even) .box {
    background: #CCD5AE;
}

body .skills-container .card:nth-child(odd) .box {
    background: #D4A373;
}

body .skills-container .card .box:hover {
    transform: translateY(-50px);
}

body .skills-container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

body .skills-container .card .box .content {
    padding: 20px;
    text-align: center;
}

body .skills-container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
}

body .skills-container .card:nth-child(even) .box .content h2 {

    color: rgba(0, 0, 0, 0.1);
}

body .skills-container .card .box .content h3 {
    font-size: 1.8rem;
    color: #FEFAF6;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

body .skills-container .card:nth-child(even) .box .content h3 {
    color: #383838;
    opacity: 0.8;
}

body .skills-container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
}

body .skills-container .card:nth-child(even) .box .content p {
    color: #383838;
    opacity: 0.8;
}

/* Footer */
footer {
    color: #fff;
    background-image: linear-gradient(90deg, #CCD5AE 0%, #D4A373 100%);
    position: relative;
    width: 100%;
    height: 100%;
    top: 100px;
    border-top-left-radius: 70px;
    font-size: 0.8rem;
}



@media (max-width:960px) {
    footer {
        width: 100%;
        top: 120px;
    }

    .main {
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .footer-logo {
        grid-column: 1/3;
    }

    .office {
        grid-column: 3/5;
    }

    .link {
        grid-column: 1/3;
    }


}





@media (max-width:660px) {
    .main {
        gap: 10px;
        margin: 0;

    }

    .icons {
        display: flex;
    }



    .row {
        grid-column: 1/4;
    }
}







.manik {

    width: 200px;
}

.footer-ending-name {
    font-family: "DM Serif Display";
    font-size: 1.5rem;
    padding-top: 10px;
}

.main {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}

.row {
    margin-top: 50px;
}

.footer-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.office-des {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.office a {
    text-decoration: none;
    color: #98A8F8;

}

.office a:hover {
    color: #fff;
}

.num {
    font-size: 1rem;
    font-weight: 500;
}

.link-des {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-des a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.link-des a:hover {
    color: #FB2576;
    transition: linear 0.3s;
}

.btn-know {
    text-decoration: none;
    background-color: #fff;
    padding: 10px;
    position: relative;
    top: 30px;
    background-color: transparent;
    border: 1px solid #98A8F8;
    color: #98A8F8;
    text-transform: uppercase;
    border-radius: 10px;

}


.btn-know:hover {
    color: white;
    background-color: #98A8F8;
    transition: linear 0.3s;
}

.subcribe {
    display: flex;
}

input[type=mail] {
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-size: 0.8rem;
}

.sub-icon {
    margin: 7px;
    margin-right: 15px;
    margin-left: 0;
    font-size: 1.5rem;
}

.ri-arrow-right-line {
    margin-left: 0;

}

.icons a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    align-items: center;
    font-size: 1.1rem;
    margin: 2%;
}


.social-icon {
    position: relative;
    top: 2px;
}

.icons a:hover {
    color: #fff;
    background-color: #FB2576;
    border-color: #FB2576;
}

.newsletter-des {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.copyright {
    text-align: center;
}

hr {
    width: 90%;
    margin: 2px auto;
    opacity: 0.4;
    border: 0.01px solid white;

}

.copyright p {
    padding: 20px;
}